<div class="header-container">
  <div class="header-container--logo">
    {{ corps_crest }}
    {% if corps_crest %}
      <a href="{{ url('<front>') }}">
        <img src="{{ corps_crest }}" alt="{{ corps_name }} crest">
      </a>
    {% endif %}
  </div>
  <div class="header-container--corps">
    <p>
      {% if type_of_cadets == 'air' %}
        {{ corps_number }} Royal Canadian Air Cadet Squadron {{ corps_name }}
      {% elseif type_of_cadets == 'sea' %}
        {{ corps_number }} Royal Canadian Sea Cadet Corps {{ corps_name }}
      {% elseif type_of_cadets == 'army' %}
        {{ corps_number }} Royal Canadian Army Cadet Corps {{ corps_name }}
      {% endif %}
    </p>
  </div>
  <div class="header-container--menu">
    {{ content }}
  </div>
</div>
